{extend name="public/base" /}
{block name="body" /}
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h2>用户注册</h2>
        </div>
        <form class="form-horizontal" id="login" method= "post">
            <div class="form-group">
                <label for="inputUser" class="col-sm-2 control-label">用户名：</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputUser" placeholder="UserName">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">邮箱：</label>
                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control"  id="inputEmail" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="inputMobile" class="col-sm-2 control-label">手机：</label>
                <div class="col-sm-10">
                    <input type="text" name="mobile" class="form-control" id="inputMobile" placeholder="Mobile">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">密码：</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPasswordC" class="col-sm-2 control-label">确认密码：</label>
                <div class="col-sm-10">
                    <input type="password" name="password_confirm" class="form-control" id="inputPasswordC" placeholder="Password Cofirm">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" id="register">注册</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(function(){
            // 绑定点击事件
            $('#register').on('click',function () {
                // alert($('#login').serialize());
                $.ajax({
                    // 发送类型
                    type:'post',
                    //发送到服务器那个方法进行处理
                    url:"{:url('index/user/insert')}",
                    //发送已经被URL编码序列化的login表单数据
                    data:$('#login').serialize(),
                    //发送数据类型
                    dataType:'json',
                    //成功回调函数由URL的服务器反馈数据，data参数为服务器返回数据
                    success:function (data) {
                        switch (data.status){
                            case 1:
                                alert(data.message);
                                //跳转，默认为基础控制器
                                window.location.href="{:url('index/index')}";
                                break;
                            case 0:
                            case -1:
                                alert(data.message);
                                //后退一步
                                window.location.back();
                        }
                    }

                })
            })
        })
    </script>
{/block}
