{extend name="public/base" /}
{block name="body" /}
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1><small>{$cateName}</small></h1>
            </div>

            {voList name="artList" id="art"}
            <div style="float: left;width:700px;margin-bottom: 25px ">
                <img class="img-rounded" src="/uploads/{$art.title_img}" style="margin-right:30px;float:left; width: 200px;height:123px">
                <div style="float: left">
                    <h4><a href="{:url('index/detail',['id'=>$art.id])}">{$art.title}</a></h4>
                    <!--使用模板函数对数据进行过滤和处理，处理机制为首位参数将值传递至函数，函数返回处理后的值-->
                    <p>发布者:{$art.user_id|getUserName}&nbsp;&nbsp;&nbsp;&nbsp;发布时间:{$art.create_time|date='Y-m-d'}</p>
                    <p>阅读量:{$art.pv}</p>
                    <div>{$art.content|getArtContent}</div>
                </div>
            </div>
            {/voList}
            <div class="text-center">
            {$artList|raw}
            </div>
        </div>
        {/block}
