{layout name="public/layout"}
<h3 class="text-center text-success">分类管理</h3>
<table class="table tb-default tb-hover">
    <tr>
        <th>ID</th>
        <th>栏目名称</th>
        <th>排序</th>
        <th>状态</th>
        <th>创建时间</th>
        <th colspan="2">操作</th>
    </tr>
    {voList name="cateList" id="cate" empty="$empty"}
    <tr>
        <td>{$cate.id}</td>
        <td>{$cate.name}</td>
        <td>{$cate.sort}</td>
        {eq name="$cate.status" value="1"}
        <td style="color: forestgreen">显示</td>
        {else}
        <td style="color: gray">隐藏</td>
        {/eq}
        <td>{$cate.create_time}</td>
        <td><a href="{:url('cate/cateEdit',['id'=>$cate.id])}">编辑</a></td>
        <td><a href="javascript:;" onclick="dodelete({$cate.id})">删除</a></td>
    </tr>
    {/voList}
</table>
<div>
    <a href="{:url('Cate/cateAdd')}" class="btn btn-primary" role="button">添加分类</a>
</div>
<script>
    function dodelete(id) {
        if(true ==confirm('您确定删除吗?')){
            window.location.href = "{:url('Cate/doDelete')}"+"?id="+id;
        }
    }
</script>