{layout name="public/layout"}
<h3 class="text-center text-success">编辑文章</h3>
    <form  action="{:url('article/doEdit')}" class="form-horizontal"  method= "post" enctype="multipart/form-data" >
        <input type="hidden" name="id" value="{$artDa.id}">
        <div class="form-group">
            <label for="title" class=" control-label">标题</label>
            <input type="text" name="title" class="form-control"  id="title" value="{$artDa.title}" >
        </div>
        <div class="form-group">
            <label for="title" class="control-label">分类</label>
            <select name="cate_id" id="" class="form-control">
                <!--voList为循环标签 name为所有数据 cate为单个循环变量，包含单个数据的所有信息-->
                {voList name="cateList" id="cate"}
                <option value="{$cate.id}">{$cate.name}</option>
                {/voList}
            </select>
        </div>
        <!--name与数据表字段名一致-->
        <div class="form-group">
            <label for="content" class="control-label">文章内容</label>
            <textarea class="form-control" id="content" name="content" style="min-height: 250px">
                <div>
                    {$artDa.content}
                </div>
            </textarea>
        </div>
        <img src="/uploads/{$artDa.title_img}" class="img-rounded" width="200px" height="142px">
        <div class="form-group">
            <label for="title_img" class=" control-label">更换图片</label>
            <input type="file" name="title_img" class="control"  id="title_img" placeholder="标题图片">
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" id="register">保存</button>
            </div>
        </div>
    </form>
<script>
    bkLib.onDomLoaded(function() {
        new nicEditor({iconsPath : '/static/js/nicEditorIcons.gif'}).panelInstance('content');
    });
</script>